{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename = 'css/design.css') }}">
{% endblock %}

{% block content %}
    <div style="display: flex; ">
        <img class = "side-img" src="{{ url_for('home.static', filename = 'images/tour1.jpg') }}" alt="">
        <div>
            <h1 align = "center" style="margin-top:140px;">Welcome to the World of Travel!</h1>
            <p align = "center">Dreaming of new adventures? Looking to explore unseen corners of the world or simply relax and unwind? We’re here to help you create the perfect getaway!</p>
            <h1 align = "center">Why Choose Us?</h1>
            <p align = "center">Unique itineraries for true explorers</p>
            <p align = "center">Comfortable tours for the whole family</p>
            <p align = "center">Exotic destinations at affordable prices</p>

            <h1 align = "center">Your Vacation, Our Priority</h1>
            <p align = "center">From sunny beaches to snowy peaks, find your ideal destination. We’ll handle tickets, accommodations, and activities so you can enjoy every moment.</p>
            <h1 align = "center">Plan with Ease</h1>
            <p align = "center">Our booking service makes everything simple. Share your preferences, and we’ll find the best options for you.</p>
            <p align = "center">Start your journey today. The world is waiting for you.</p>
        </div>
        <img class = "side-img" src="{{ url_for('home.static', filename = 'images/tour2.jpg') }}" alt="">
    </div>
    
    <div class = "center_div">
        <h2 class = "title" align = "center">Feedback</h2>
    
        <div class = "feedback_form">
            <form method = "post">
                <div class = "input_div">
                    <p class = "input_holder"> Your name: </p>
                    <input class = "enter_name" type="text" name="name">
                </div>
                <div class = "input_div">
                    <p class = "input_holder">Your email:</p>
                    <input class = "enter_email" type="text" name="email">
                </div>
                <div class = "input_div">
                    <p>Your feedback:</p>
                    <textarea name="feedback" class = "input_feedback"></textarea>
                </div>
                <button type = "submit" class="button_submit">Send</button>
            </form>
        </div>
    </div>
{% if is_message %}
    <div class = "div_vikno">
        <div class = "answer_window">
            <h1>Hey! Your message was sended</h1>
        </div>
    </div>
{% endif %}
{% endblock %}



{% block script %}
    <script defer src="{{ url_for('home.static', filename = 'js/home.js') }}"></script>
{% endblock %}


